# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Arquivos de cache e dumps
*.cache
*.pid
*.pkl
*.db-journal

# Configs do pytest
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Libs
requirements.txt

# Virtualenv
.venv/
env/
ENV/
venv/
pip-wheel-metadata/

# ==========================================
# Dados sensíveis
data/
drivers/
# ==========================================
# Planilhas e banco local
data/*.xlsx
data/*.xls
data/*.csv
data/*.mv.db

# ==========================================
# JARs, binários e outros
# ==========================================
drivers/*.jar

# ==========================================
# IDEs e editores
# ==========================================
.vscode/
.idea/

# ==========================================
# SOs e arquivos ocultos
# ==========================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# Build e distribuição
# ==========================================
build/
dist/
*.egg-info/
.eggs/

# ==========================================
# Arquivos de segurança
# ==========================================
# Tokens, chaves, credenciais
*.pem
*.key
*.env
.env.*
secrets.*
